.about-section {
    background-image: linear-gradient(135deg, #000000,rgb(0, 95, 119), #000000);
}

.about{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    text-align: center;
}


.about h1{
    padding: 3rem;
    font-size: 4rem;
    background: linear-gradient(135deg, #00a8be 48%,  #ff00ea 55%);
    color: transparent;
    background-clip: text;
}

.about img{
    width: 250px;
    border-style: solid;
    border-width: 3px;
    border-color: #00a8be;
    box-shadow: 1px 1px 12px #00a8be;
}


.about p{
    font-weight: 300;
    font-size: 2rem;
    padding: 2rem 200px;
    background: radial-gradient(circle, rgba(255,0,234,1) 7%, rgba(0,168,190,1) 70%);
    color: transparent;
    background-clip: text;
}
@media (max-width: 1300px) {
    .about p{
        font-size: 1.8rem;
        padding: 2rem 2rem;
    }
}
@media (max-width: 714px) {
    .about p{
        font-size: 1.4rem;
        padding: 2rem 2rem;
    }
}

@media (max-width: 417px) {
    .about h1{
        font-size: xx-large;
    }
    .about p{
        font-size: medium;
        padding: 2rem 10px;
    }
    .about img{
        width: 200px;
    }
}

