@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
    text-decoration: none;
    scroll-behavior: smooth;
}

body {
    background: linear-gradient( #0c0c0c, #002941);
    max-width: 100vw;
}

section {
    min-height: 100vh;
}
.progress{
    position: fixed;
    height: 10px;
    width: 100%;
    background-image: linear-gradient(135deg, #00a8be, #ff00ea);
    z-index: 2;
}

@media (max-width: 417px) {

}
.bg_video{
    position: fixed;
    width: 100%;

}

.load{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    min-width: 100%;
    min-height: 100vh;
    gap: 3rem;
    background-image: linear-gradient(90deg, #7a7979, #018ab4);
}

.load img{
    width: 200px;
    height: 200px;
}

.load h1{
    font-size: 3rem;
}

.design p{
    padding: 2rem;
    position: absolute;
    width: 900px;
    font-size: 2.5rem;
    font-weight: 600;
    color: #00bdd6;
    background-image: linear-gradient(135deg, #7a7979a6 30%, #018ab4c7 90%);
    border-radius: 30px;
}